:root {
  --bcolor: #dcdcdc;
  --b2color: #bebebe;
  --b3color: #afafaf;
  --fcolor: #000000;
  --hcolor: #1E90FF;
  --h2color: #6495ED;
  --scolor: black;
  --fsize: 18px;
  --topRowColor: #282828;
}



body {
    background-color: var(--bcolor);
    color: var(--fcolor);
}

* {
  font-family: 'Trebuchet MS', sans-serif;
    margin:0;
}

textarea {
  display: block;
  width: 80%;
  background-color: var(--b2color);
  color: var(--fcolor);
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  top: -100%;
  resize: none;
}

#csvInput  {
    position: fixed;
    top: -100%;
}

textarea {
  display: block;
  width: 80%;
  background-color: var(--b2color);
  color: var(--fcolor);
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  top: -100%;
  resize: none;
}

#hauptbereich #csvContainer {
    display: flex;
    flex-direction: row; /* Anpassung auf Zeile statt Spalte */
    align-items: center;
    margin-bottom: 10px;
}



dialog {
  background-color: var(--b2color);
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


button {
  color: var(--fcolor);
  border: 1px solid transparent;
  background-color: transparent;
}

button a {
  text-decoration: none;
  color: var(--fcolor);
}

.noteAdded {
  background-color: var(--hcolor);
}

.noteRemoved {
  background-color: var(--b2color);
}

td:hover.noteAdded {
  background-color: var(--h2color);
}

td:hover.noteRemoved {
  background-color: var(--b3color);
}


dialog {
  background-color: var(--b2color);
}

table {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

#dayView:hover:not(.selected), #weekView:hover:not(.selected), #monthView:hover:not(.selected) {
  background-color: var(--b3color);
}
#dayView.selected, #weekView.selected, #monthView.selected {
  box-shadow: inset 0 8px 6px -6px var(--scolor);
}
#dayView, #weekView, #monthView {
  background-color: var(--b2color);
  width: 25%;
  box-shadow: 0 8px 6px -6px var(--scolor);
}

#dayView {
  border-radius: 10px 0 0 10px;
}

#monthView {
  border-radius: 0 10px 10px 0;
}

.remove-button {
  float: right;
}


.TopRow {
  display: flex;

  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  background-color: var(--topRowColor);
  height: 60px;
  align-items: center;
}

.TopRow .LeftSide {
  margin-left: 3%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size: 18px;
}

.TopRow .RightSide {
  margin-right: 3%;
}

.TopRow .RightSide button {
  margin-left: 10px;
}

.TopRow .LeftSide img {
  width: 50px;
  height: 50px;
  margin-right: 8%;
}

.openCsv {
  float: right;
  margin-right: 3.2%;
}

.Space1 {
  height: 75px;
  display: block;
}


p.Ansicht {
  width: 100%;
  text-align: center;
}


.SwitchDate {
  margin-left: 3.2%;
}

#headerNotes {
  margin-left: 3.2%;
}

.ql-editor, .ql-snow {
  margin-left: 3.2%;
  margin-right: 3.2%;
  width: 93%;
}
