body {
    background-color: #303030;
    color: F9F8F8;
}

* {
  font-family: 'Comic Sans MS', sans-serif, cursive;
    margin:0;
}

input {
    position: fixed;
    top: -100%;
}

textarea {
  display: block;
  width: 80%;
  background-color: #444444;
  color: F9F8F8;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  top: -100%;
  resize: none;
}

body {
    background-color: #303030;
    color: F9F8F8;
}

* {
  font-family: 'Comic Sans MS', sans-serif, cursive;
    margin:0;
}

input {
    position: fixed;
    top: -100%;
}

textarea {
  display: block;
  width: 80%;
  background-color: #444444;
  color: F9F8F8;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  top: -100%;
  resize: none;
}

#hauptbereich #csvContainer {
    display: flex;
    flex-direction: row; /* Anpassung auf Zeile statt Spalte */
    align-items: center;
    margin-bottom: 10px;
}

.ansicht {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

dialog {
  background-color: #444444;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


button {
  color: F9F8F8;
  border: 1px solid transparent;
  background-color: transparent;
}

button a {
  text-decoration: none;
  color: F9F8F8;
}

.noteAdded {
  background-color: #1E90FF;
}

.noteRemoved {
  background-color: #444444;
}

td:hover.noteAdded {
  background-color: #6495ED;
}

td:hover.noteRemoved {
  background-color: #595959;
}


dialog {
  background-color: #444444;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


button {
  color: F9F8F8;
  border: 1px solid transparent;
  background-color: transparent;
}

button a {
  text-decoration: none;
  color: F9F8F8;
}

.noteAdded {
  background-color: #1E90FF;
}

.noteRemoved {
  background-color: #444444;
}

td:hover.noteAdded {
  background-color: #6495ED;
}

td:hover.noteRemoved {
  background-color: #595959;
}

#dayView:hover:not(.selected), #weekView:hover:not(.selected), #monthView:hover:not(.selected) {
  background-color: #595959;
}
#dayView.selected, #weekView.selected, #monthView.selected {
  box-shadow: inset 0 8px 6px -6px black;
}
#dayView, #weekView, #monthView {
  background-color: #444444;
  width: 100%;
  box-shadow: 0 8px 6px -6px black;
}

#dayView {
  border-radius: 10px 0 0 10px;
  margin-left: 5%;
}

#monthView {
  border-radius: 0 10px 10px 0;
  margin-right: 5%;
}