body {
    background-color: #303030;
    color: F9F8F8;
}

* {
  font-family: 'Comic Sans MS', cursive;
}


label input {
    position: fixed;
    top: -100%;
}

.noteInput {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 50%;
  rows: 10;
  background-color: #444444;
}


button {
  color: F9F8F8;
  border: 1px solid transparent;
  background-color: transparent;
}

button a {
  text-decoration: none;
  color: F9F8F8;
}

.noteAdded {
  background-color: #1E90FF;
}

.noteRemoved {
  background-color: #444444;
}

td:hover.noteAdded {
  background-color: #6495ED;
}

td:hover.noteRemoved {
  background-color: #595959;
}
